/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.contact {
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: var(--midnight-Green);
  padding-bottom: 120px;
  background-image: url('../images/contact/bottom-background.svg');
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;
}

.contact__top-img {
  position: absolute;
  left: 0;
  top: 0;
}


.contact__content {
  width: 540px;
}

.contact__content-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 100px;
  color: var(--white);
  margin-bottom: 16px;
}

.contact__content-text {
  color: var(--might-Coral);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 32px;
}

.contact__item {
  display: flex;
  gap: 23px;
  align-items: center;
}

.contact__item-title {
  color: var(--white);
}


/*  */

.form__wrapper {}

.form {
  display: flex;
  gap: 24px;
  flex-direction: column;

}

.form__control {
  border: none;
}

.form__control-input {
  border: none;
  background-color: inherit;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 16px;
  width: 542px;
  border-bottom: 1px solid var(--white);
  color: var(--white);
}

.form__control-input::placeholder {
  opacity: 0.5;
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}

.form__control-input:focus {
  outline: none;
}

.last-input {
  padding-bottom: 58px;
}

.form__button {
  text-align: center;
  width: 123px;
  border-radius: 25px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  border: none;
}

.form__button:hover {
  opacity: 0.7;
}



@media (max-width:768px) {



  .contact {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    background-color: var(--midnight-Green);
    padding-bottom: 115px;
    text-align: center;
  }


}