/* FONTS START */
@font-face {
  font-display: swap;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/livvic-v14-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/livvic-v14-latin-500italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/livvic-v14-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/livvic-v14-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/livvic-v14-latin-700italic.woff2') format('woff2');
}

/* FONTS END */

/* VARIABLES START */
:root {
  --midnight-Green: #014E56;
  --might-Coral: #F67E7E;
  --white: #FFFFFF;
  --rapture-Blue: #79C8C7;
  --police-Blue: #2C6269;
  --deep-Jungle-Green: #004047;
  --sacramento-State-Green: #012F34;
  --dark-Green: #002529;



  /* fonts */
  --fonts: 'Livvic';
  /* Transition */
  --transition: 0.3s;
}

/* VARIABLES END */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

img {
  display: flex;
  object-fit: cover;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}



h1,
h2,
h3 {
  font-family: var(--fonts);
  font-weight: 700;

}


h1 {
  margin: 0;
  font-size: 100px;
  line-height: 100px;

}

h2 {
  font-size: 48px;
  line-height: 48px;
}

h3 {
  font-size: 18px;
  line-height: 28px;
}


.btn {
  width: 153px;
  border-radius: 24px;
  font-family: var(--fonts);
  font-size: 18px;
  line-height: 28px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
}

body {
  height: 100%;
  font-family: var(--fonts);
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 1510px;
  padding-left: 200px;
  padding-right: 200px;
  margin-left: auto;
  margin-right: auto;
}


/*  */

/* HEADER START */

.header {
  background-color: var(--midnight-Green);
}

.header__list {
  margin-top: 2px;
  display: flex;
  align-items: center;
  padding-top: 73px;
  padding-bottom: 130px;
}

.header__img {
  margin-right: 80px;
}


.header__item {
  margin-right: auto;
}

.header__link {
  font-size: 18px;
  line-height: 28px;
  color: var(--white);
  font-family: var(--fonts);
}

.header__link:hover {
  transition: var(--transition);
  color: var(--might-Coral);
}

.last {
  margin-right: 40px;
}

.header__btn {
  text-align: center;
  border: 2px solid var(--white);
  color: var(--white);
  transition: var(--transition);
}

.header__btn:hover {
  background-color: var(--white);
  color: var(--dark-Green);
}


/* HEADER END */



/* READY START */
.ready {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--might-Coral);
  background-image: url('../images/home/ready-bsckground.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-left: 285px;
  padding-right: 285px;
}



.ready__btn {
  text-align: center;
  color: var(--sacramento-State-Green);
  border: 2px solid var(--sacramento-State-Green);
}

.ready__btn:hover {
  color: var(--white);
  background-color: var(--sacramento-State-Green);
}

/* READY END */

/* FOOTER START */

.footer {
  display: flex;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--dark-Green);
}

.footer__logo-wrapper {
  width: 160px;
  margin-right: 140px;
}

.footer__logo {
  margin-bottom: 25px;
}

.footer__link {
  font-size: 18px;
  color: var(--white);
  transition: var(--transition);
}

.footer__link:hover {
  color: var(--might-Coral);
}

.footer__logo-pages {
  display: flex;
  gap: 40px;
}

.address {
  width: 445px;
  font-style: normal;
  color: var(--white);
  margin-right: auto;
}

.address-text {
  opacity: 0.6;
}

.address-link {
  color: var(--white);
  opacity: 0.6;
}


.socials-wrapper {
  display: flex;
  gap: 16px;
  margin-left: 130px;
  margin-bottom: 45px;
}


.social__icon:hover {
  color: var(--might-Coral);
}

.footer__social-text {
  opacity: 0.6;
  color: var(--white);
}



/* FOOTER END */

@media(max-width:768px) {

  h1,
  h2,
  h3 {
    font-family: var(--fonts);
    font-weight: 700;

  }


  h1 {
    margin: 0;
    font-size: 64px;
    line-height: 56px;

  }

  h2 {
    font-size: 32px;
    line-height: 32px;
  }

  h3 {
    font-size: 18px;
    line-height: 28px;
  }


  .btn {
    width: 153px;
    border-radius: 24px;
    font-family: var(--fonts);
    font-size: 18px;
    line-height: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
  }

  body {
    height: 100%;
    font-family: var(--fonts);
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
  }

  .container {
    width: 100%;
    max-width: 768px;
    padding-left: 39px;
    padding-right: 39px;
    margin-left: auto;
    margin-right: auto;
  }


  /*  */

  /* HEADER START */

  .header {
    background-color: var(--midnight-Green);
  }

  .header__list {
    margin-top: 2px;
    display: flex;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 112px;
  }

  .header__item {
    margin-right: auto;
  }

  .last {
    margin-right: 40px;
  }

  /* HEADER END */



  /* READY START */
  .ready {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 100px;
    background-color: var(--might-Coral);
    background-image: url('../images/home/ready-bsckground.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    text-align: center;
  }


  /* READY END */

  /* FOOTER START */

  .footer {
    display: flex;
    gap: 10px;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--dark-Green);
    position: relative;
  }

  .footer__logo-wrapper {
    width: 160px;
    margin-right: 140px;
  }

  .footer__logo {
    margin-bottom: 40px;
  }

  .footer__logo-pages {
    display: flex;
    margin-bottom: 70px;
    gap: 40px;
  }

  .address {
    font-style: normal;
    color: var(--white);
    text-align: right;
  }

  .socials-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: -90px;
  }

  .footer__social-text {
    width: 255px;
    position: absolute;
    bottom: 60px;
    right: 40px;
  }
}